<div class="todo">
    <input [id]="item.todo" type="checkbox" (change)="item.isDone = !item.isDone" [checked]="item.isDone" />
    <label [for]="item.todo">{{item.todo}}</label>

    <div class="btn-wrapper" *ngIf="!canEdit">
        <button class="btn" (click)="canEdit=!canEdit">Edit</button>
        <button class="btn btn-delete" (click)="remove.emit()">Delete</button>
    </div>

    <div *ngIf="canEdit">
        <input type="text" class="edit-input" placeholder="edit item" [value]="item.todo" #editedItem
            (keyup.enter)="saveItem(editedItem.value)">

        <div class="btn-wrapper">
            <button class="btn" (click)="canEdit=!canEdit"> Cancel </button>
            <button class="btn btn-save" (click)="saveItem(editedItem.value)">Save</button>
        </div>
    </div>

</div>